.TextEditor_row{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: auto;
    padding: 4px 0;
}
.TextEditor_row:nth-child(even){
    background-color: #efefef;
}
.TextEditor_row .first{
    width: 30px;
}
.TextEditor_row .second{
    width: calc((100% - 60px)/2);
}
.TextEditor_row .third{
    width: calc((100% - 60px)/2);
}
.TextEditor_row .fourth{
    width: 30px;
}
.icon{
    content: "";
    opacity: 1;
    width: 100%;
    max-width: 51px;
    height: 16px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.clearFormatting{
    padding: 0;
    margin: 0;
}