.title_area {
    height: 50px;
    background-color: #B3B3B3;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title_area h2 {
    margin: auto 0;
}
.title_area .info {
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: -200px;
}
.infoLabel{
    background: black;
    color: white;
    padding: 5px;
    position: absolute;
    top: 50px;
    right: 50%;
    margin-right: -205px;
}